* {
    box-sizing: border-box;
}

body {
    background-image: url("RotaryImg.gif");
    background-size: 60%;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
 }

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 50vh;
    background-color: rgba(12, 12, 70, 0.712);
}

smallColunm{
    float: left;
    width: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column .bottomLeft{
    position: absolute;
    bottom: 0%;
    padding-bottom: 2%;
    padding-left: 1%;
    width: 33.3%;
}

.column .bottomRight{
    position: absolute;
    bottom: 0%;
    right: 0%;
    padding-bottom: 2%;
    padding-right: 5%;
    width: 33.3%;
    align-content: flex-end;
}

.column .topRight{
    position: absolute;
    top: 0%;
    right: 0%;
    padding-top: 2%;
    padding-left: 1%;
    width: 33.3%;
    align-content: flex-end;
}

.column .topLeft{
    position: absolute;
    top: 0%;
    padding-top: 2%;
    padding-left: 1%;
    width: 33.3%;
}

.bottomRight .button{
    float: right;
    background-color: rgba(255, 255, 255, 0.253);
    border-color:     rgba(255, 255, 255, 0.253);
    border-radius: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    width: 33.3%;
}

.topRight .w3-dark-gray{
    /* position: absolute;
    right: 0%; */
    float: right;
}
.topRight .w3-dark-gray .w3-orange{
    float: right;
}

.topRight .label{
    text-align: right;
    margin-top: 1ch;
}

.topLeft .label{
    text-align: left;
    margin-top: 1ch;
    font-size: 200%;
}

.bottomLeft .label{
    text-align: left;
    margin-top: 1ch;
}


h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:whitesmoke;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:whitesmoke;
}